.hero {
  background-color: black;
  width: 100%;
  padding: 1rem 2rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  border-right: 1px solid #4B0082 ;
  border-left: 1px solid #4B0082;
  box-shadow: 7px 2px 13px 0px #280028;
}

.hero__content__logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 2px 3px 6px 0px #675118;
  margin: 0 auto;
  margin-top: -70px;
  
}

.hero__content {
  position: relative;
}

.hero__content__title {

  color: white;
  font-family: 'Georgia', serif;
}
.hero__content__titleSpan{
  text-align: center;

  font-weight: bold;
  color: #ddaa61;
  text-shadow: 2px 2px 10px #5b3f25;
  font-family: 'Georgia', serif;
}
@keyframes moverFondo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hero__content__paragraph {
  font-size: 2rem;
  color: #667488;
  margin-top: 1rem;
}

.hero__content__btn {
  background-color: #0e62dc;
  color: white;
  margin-top: 1.6rem;
  padding: 16px 36px;
  border-radius: 10px;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  box-shadow: 4px 8px 12px 1px black;
}

@media screen and (min-width: 768px) {
  .hero__content__title {
    font-size: 3rem;
    position: relative;
  }
  .hero {
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    height: 320px;
    margin-top: 2rem;
  }

  .contentImage {
    position: absolute;
    bottom: 0;
    right: 6rem;
    z-index: 10;
  }
}

@media screen and (min-width: 1024px) {
  .hero__content__title {
    font-size: 4.5rem;
  }

  .hero {
    padding-top: 0rem;
  }
}
