@import "tailwindcss";

html {
  scroll-padding-top: 3rem;
  scroll-behavior: smooth;
  min-width: 320px;
  font-size: 65.2%;
}

*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 90%;
  max-width: 1300px;
  /* min-width: 320px; */
  margin: 0 auto;
}

